<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="description" content="作业上传下载平台学生界面">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="/images/logo2.png"  type="image/x-icon">
		<title>作业上传下载平台</title>
		
        <link rel="stylesheet" href="/css/index.css">
        <!-- <link rel="stylesheet" href=""> -->
        <script src="vue.min.js"></script>
        <script src="vue-router.min.js"></script>
        
    </head>
  
  <body>
	  <!-- 顶部 -->
        <form action="/connect/file_upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="">
            <br />
            <input type="submit" value="上传文件" />
        </form>

    
    
  </body>
</html>
